.left {
  &.container {
    background-color: gainsboro;
    height: 85vh;
  }

  &-card {
    display: flex;

    button {
      cursor: pointer;
      background-color: transparent;
      border: medium solid $mainColor;
      border-radius: 5px;
    }
  }

  button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: $mainColor;
    border-radius: 5px;
    color: white;
    border: none;
  }
}
.right {
  &.container {
    background-color: $mainColor;
    color: white;
    height: 85vh;
  }

  p {
    margin: 0;
  }
}

.add-student {
  background-color: $mainColor;
  height: 85vh;
  color: white;
}
